:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    font-family: arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
figure {
    margin: 0;
    padding: 0;
}

button:focus,
button:active {
    outline: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover,
a:link,
a:visited,
a:focus {
    text-decoration: none;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

aside {
    position: fixed;
}
/*閫氱敤澶撮儴*/

.wl-header {
    width: 100%;
    height: 5.5rem;
    padding: 1rem 9rem 1rem 5rem;
    position: relative;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
}

.title-tou {
    border-top: 30px;
}

.wl-header .wl-logo,
.wl-header .wl-download {
    position: absolute;
    top: 1rem;
}

.wl-header .wl-logo {
    width: 3.5rem;
    height: 3.5rem;
    left: 1rem;
}

.wl-header .wl-logo>img {
    width: 100%;
    height: 100%;
}

.wl-header .wl-info {
    font-size: 1.1rem;
    color: #999;
    line-height: 1.8rem;
}

.wl-header .wl-info>p:nth-child(1){
    font-size: 1.4rem;
    color: #333;
}
.wl-header .wl-info>p:nth-child(2){
    color: #999;
}

.wl-header .wl-download {
    display: block;
    width: 7.5rem;
    text-align: center;
    line-height: 3.5rem;
    color: #fff;
    background-color: #36b039;
    border-radius: .5rem;
    right: 1rem;
}
/*閫氱敤鎸夐挳*/

.wl-btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
}

.wl-btn-blue {
    border: 1px solid #3474bb;
    background-color: #3474bb;
}

.wl-btn-white {
    border: 1px solid #7d7d7d;
    color: #7d7d7d;
    background-color: #fff;
}

.wl-btn-gray {
    border: 1px solid #adadad;
    background-color: #adadad;
}
/*閫氱敤鎮诞鎸夐挳*/

.wl-fixed-button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .8rem 1.5rem;
    background-color: #f7f7f7;
    border-top: 1px solid #acacac;
}

.wl-fixed-button .wl-btn {
    width: 100%;
    line-height: 3.5rem;
    text-align: center;
}
/*閫氱敤涓汉淇℃伅*/

.wl-user {
    position: relative;
    padding: 1rem 0 1rem 5rem;
    border-bottom: 1px solid #eaeaea;
}

.wl-user-avatar {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background-color: #eee;
}

.wl-user-name {
    line-height: 2.4rem;
    font-size: 1.4rem;
}

.wl-user-company {
    height: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 0.6rem;
    color: #7d7d7d;
    overflow: hidden;
}

.wl-user-company>span {
    margin-right: 5px;
}

.wl-user .wl-btn,
.wl-user .tag {
    color: #3474BA;
    border-color: #eaeaea;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.wl-user .wl-btn {
    top: 2.1rem;
    font-size: 1.4rem;
    padding: .3rem .75rem;
}

.wl-user .tag {
    border: 0;
    line-height: 2.4rem;
    font-size: 1.2rem;
}

.wl-user .tag.wechat {
    color: #adadad;
}
/*閫氱敤娲诲姩淇℃伅*/

.wl-act {
    display: block;
    width: 100%;
    padding: 15px;
    padding-left: 110px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.wl-act .wl-act-poster {
    width: 90px;
    height: 67px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.wl-act .wl-act-title {
    font-size: 1.6rem;
    width: 100%;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.wl-act .wl-act-info {
    padding-top: 13px;
    line-height: 16px;
    font-size: 1.2rem;
    overflow: hidden;
}

.wl-act .wl-act-info>div {
    float: left;
    margin-right: 10px;
    color: #adadad;
}

.wl-act .wl-act-info .icon {
    margin-right: 3px;
    width: 1.2rem;
    height: 1.2rem;
}
/*涔濆鏍煎浘鐗�*/

.wl-pic {
    overflow: hidden;
}

.wl-pic-item {
    float: left;
    width: 32%;
    height: 9rem;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #eee;
    overflow: hidden;
    -webkit-transition: height .3s ease-out;
    transition: height .3s ease-out;
}

.wl-pic-item:nth-child(3n-2) {
    margin-left: 0;
}

.wl-pic-item>img {
    opacity: 0;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}
/*閫氱敤璇勮*/

.wl-comment {
    padding: 1rem 0;
    padding-left: 4.2rem;
    position: relative;
    overflow: hidden;
}

.wl-comment-avatar {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    background-color: #e5e5e5;
    position: absolute;
    left: 0;
    top: 1rem;
}

.wl-comment-info {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.wl-comment-user {
    line-height: 1.6rem;
    margin-bottom: 5px;
}

.wl-comment-user-name {
    font-size: 1.2rem;
    color: #5282bf;
}

.wl-comment-publish-time {
    font-size: 1.1rem;
    color: #adadad;
}

.wl-comment-content {
    font-size: 1.2rem;
}

.wl-comment-to-user span {
    color: #5282bf;
    margin: 0 5px;
}

.wl-comments .no-comment {
    text-align: center;
    padding: 5px 0;
    color: #7d7d7d;
    font-style: italic;
}
/*閫氱敤icon*/

.icon {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 1.6rem;
    height: 1.6rem;
}

.icon-time {
    background: url(http://fed.welian.com/0_icon/discovery_activity_detail_time%402x.png);
    background-size: cover;
}

.icon-marker {
    background: url(http://fed.welian.com/0_icon/discovery_activity_detail_place%402x.png);
    background-size: cover;
}

.icon-group {
    background: url(http://fed.welian.com/0_icon/discovery_activity_detail_people%402x.png);
    background-size: cover;
}

.icon-sponor {
    background: url(http://fed.welian.com/0_icon/discovery_activity_detail_sponor%402x.png);
    background-size: cover;
}

.icon-good {
    background: url(http://fed.welian.com/0_icon/icon_good.png);
    background-size: cover;
}

.icon-good-blue {
    background: url(http://fed.welian.com/0_icon/icon_good_blue.png);
    background-size: cover;
}

.icon-comment {
    background: url(http://fed.welian.com/0_icon/icon_comment.png);
    background-size: cover;
}

.icon-share {
    background: url(http://fed.welian.com/0_icon/icon_share.png);
    background-size: cover;
}

.arraw {
    width: 10px;
    height: 10px;
    width: 15px;
}

.arraw:before,
.arraw:after {
    cursor: pointer;
    border-radius: 2px;
    height: 4px;
    width: 12px;
    background: #C7C7CC;
    position: absolute;
    display: block;
    content: '';
}

.arraw:before {
    top: 0px;
}

.arraw:after {
    bottom: 0px;
}

.arraw-right:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arraw-right:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*閫氱敤钂欐澘*/

.backdrop {
    background-color: #000;
    opacity: 0;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}

.fade {
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

.fade.in {
    opacity: .5;
}
/*other*/

.hide {
    display: none !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.word-blue {
    color: #3474BA;
    margin: 0 .3rem;
}

.plus,
.plus:before {
    display: block;
    width: 1.4rem;
    height: 4px;
    background-color: #adadad;
}

.plus:before {
    content: '';
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.minus {
    display: block;
    width: 1.4rem;
    height: 4px;
    background-color: #adadad;
}

.multip {
    display: inline-block;
    width: 1.4rem;
    height: 4px;
    position: relative;
}

.multip:before,
.multip:after {
    display: block;
    width: 1.4rem;
    height: 4px;
    background-color: #adadad;
    content: '';
    border-radius: 2px;
    position: absolute;
}

.multip:before {
    -webkit-transform: rotate(45deg);
    left: -1px;
}

.multip:after {
    -webkit-transform: rotate(-45deg);
}

.wl-loading-bg {
    opacity: 0.5;
}

.wl-loading {
    width: 7rem;
    height: 7rem;
    text-align: center;
    color: #adadad;
    background: rgba(255, 255, 255, 1);
    border-radius: .5rem;
    padding: 1rem;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -3.5rem;
    margin-top: -3.5rem;
    z-index: 1000;
}

.wl-loading>img {
    width: 3rem;
    height: 3rem;
}

.wl-loading>p {
    line-height: 2rem;
}

@media screen and (min-width: 375px) {
    .wl-header .wl-info {
        font-size: 1.4rem;
    }
}