body {
	height: 100%;
	margin: 0 auto;
	background: #F2F2F2;
}

.all {
	width: 1080px;
	background: #FFF;
	margin: 0 auto;
	padding: 30px;
}

.all1 {
	max-width: 100%;
}

.title {
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
}

.infor {
	color: #999;
	font-size: 12px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.infor span {
	margin-right: 10px;
}

.article {
	padding-top: 20px;
	margin-bottom: 176px;
}

.bot-left {
	float: left;
	width: 130px;
	height: 130px;
	margin-top: 28px;
	margin-left: 80px;
}

.bot-left2 {
	float: left;
	width: 280px;
	height: 130px;
	margin-top: 50px;
	margin-left: 40px;
}

.bot-left3 {
	float: right;
	width: 204px;
	height: 100px;
	margin-top: 45px;
	margin-right: 80px;
	background: url(/assets/img/lijixizai.png);
}

.bot-download {
	font-size: 38px;
	margin-top: 30px;
	text-align: center;
	color: #FFF;
}

#bottom {
	position: fixed;
	width: 1080px;
	z-index: 1000;
	bottom: 0;
	background: #FFF;
	border-top: 1px solid #e5e5e5;
}

.download {
	width: 240px;
	height: 270px;
	padding: 30px;
	background-color: #fff;
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: 600px;
	display: block;
	text-align: center;
}

.download .qrcode {
	width: 180px;
	height: 180px;
	background: #adadad;
}